:root {
  --color-background: #121a2f;
  --color-text: #fff;
  --color-accent: #1eb2ff;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  color: var(--color-text);
}

*,
:after,
:before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  height: 2rem;
  border-radius: 18px;
  padding: 1rem 1.25rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  text-transform: uppercase;
  transition: all 0.2s;
  user-select: none;
  min-width: 160px;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
}

.button:hover {
  opacity: 0.75;
}

.button:focus {
  outline: none;
  background-color: transparent;
  border-style: outset;
  cursor: pointer;
}

.button-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}
