.welcome-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.welcome-title {
}

.welcome-input-email {
  margin: 1rem 0;
  padding: 0.5rem;
}

.button-welcome {
  margin-top: 1rem;
  max-width: 200px;
  align-self: center;
}
